.desc{
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 30px;
    color: #f1f1f9;
    font-weight:500;
}
  
  #char{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    
}
.name{
    color: #fafafb;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
}
.move{
    font-size: 35px;
    cursor: pointer;
    color: #f1f1f9;
    position: absolute;
    top: 40px;
    left: 0px;
    font-weight: 500;

}
.move:hover{
    color: rgb(40, 40, 65);
}
.oneChar{
    width: 350px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(205, 205, 227);
}

@media(max-width:576px){
    .name{
        padding-top: 60px;
        font-size: 35px;
    }
    .desc{
        width: 400px;
    }
}
@media(max-width:444px){
    .oneChar{
        width: 320px;
        height: 370px;
    }
    .desc{
        width: 300px;
    }
}
@media(max-width:375px){
    .oneChar{
        width: 280px;
        height: 350px;
    }
}
@media(max-width:320px){
   .oneChar{
       width: 260px;
       height: 330px;
   }
}

