.card{
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 20px; 
    background-color: rgba(9, 9, 89, 0.7);
    border-radius: 5px;
    border: solid 1px rgb(3, 3, 31);
}
  

img{
    width: 200px;
    border-radius: 5px;
    margin: 0 auto;
    height: 230px;
    margin-bottom: 20px
}

.add{
 
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
   
}

.team{
    margin-right: 50px;
    width: 60px;
    height: 25px;
    background-color: transparent;
    color: #b6b6e6;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(136, 136, 209);
}
.team:hover{
    color: rgb(229, 229, 247);
}
h3{
    color: #b6b6e6;
    font-size: 20px;
}
a{
    margin-left: 30px;
    color: #b6b6e6;
    font-size: 18px;
    cursor: pointer;
}
a:hover{
    color: rgb(229, 229, 247);
}