.myTeam{
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
   

    
}
.teamListName{
    font-size: 30px;
    color: #b6b6e6;

    
}
@media(max-width:444px){
    .myTeam{
         
    width: 80%;
    margin: 0 auto;
       
    }
}



