.search{
    max-width: 60%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.text{
    width: 30%;
    outline: none;
    background-color: transparent;
    height: 30px;
    border-radius: 5px;
    color: rgb(245, 245, 249);
    font-size: 20px;
}
.buttonSearch{
    width: 60px;
    height: 36px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.buttonSearch:hover{
    background-color:rgb(12, 12, 56, 0.7);
}


